*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
}
.carousel-indicators{
    top:65vh;
}
@media (max-width: 575.98px) {
    .carousel{
        height: 400px;
    }
    .slider-image{
        height: 98%;
        width: 102%;
        align-items: center;
        justify-items: center;
        overflow: hidden;
    }
    img{
        object-fit: cover;
    }
    .img-container{
        display: grid;
        justify-content: space-between;
        grid: 35vh 35vh / 100%;
    }
    .higher-img,.wider-img{
        display: none;
    }
    #carousel-img2,#carousel-img4,#carousel-img11,#carousel-img8,#carousel-img7{
        width: 104%;
    }

}
@media (min-width: 576px) and (max-width: 1199.98px) {
    .carousel{
        height: 400px;
    }
    .slider-image{
        height: 98%;
        width: 102%;
        align-items: center;
        justify-items: center;
        overflow: hidden;
    }
    img{
        object-fit: cover;
    }
    .img-container{
        display: grid;
        justify-content: space-between;
        grid: 35vh 35vh / 32% 32% 32%;
    }
    .wider-img{
        grid-column: 1 / span 2;
    }

    .higher-img{
        display: none;
    }
    #carousel-img2,#carousel-img4,#carousel-img11,#carousel-img8,#carousel-img7{
        width: 104%;
    }
    #carousel-img3{
        grid-column: 4;
    }
    #carousel-img5{
        grid-column: 2 / span 2;
    }
    #carousel-img9{
        grid-column: 2 /span 2;
    }
    #carousel-img10{
        grid-column: 1 /span 2;
    }
    #carousel-img11{
        grid-column: 3;
    }
}
@media (min-width: 1200px){
    .carousel{
        height: 400px;
    }
    .slider-image{
        height: 98%;
        width: 102%;
        align-items: center;
        justify-items: center;
        overflow: hidden;
    }
    img{
        object-fit: cover;
    }
    .img-container{
        display: grid;
        justify-content: space-between;
        grid: 35vh 35vh / 24% 24% 24% 24%;
    }
    .wider-img{
        grid-column: 1 / span 2;
    }

    .higher-img{
        height: 99%;

        grid-row: 1 / span 2;
    }
    #carousel-img2,#carousel-img4,#carousel-img11,#carousel-img8,#carousel-img7{
        width: 104%;
    }
    #carousel-img3{
        grid-column: 4;
    }
    #carousel-img5{
        grid-column: 2 / span 2;
    }
    #carousel-img9{
        grid-column: 3 /span 2;
    }
    #carousel-img10{
        grid-column: 2 /span 2;
    }
}