*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
}
header{
    height: 125px;
    background-color: black;
    color: white;
}
.nav-link{
    text-transform: uppercase;
    color: black;
}
@media (max-width: 575.98px) {
    #header-Title{
        display: none;
    }
    #header-Title>h1{
        display: none;
    }
    #header-L{
        display: none;
    }
    #logo{
        width: 100vw;
        height: 100px;
        padding-top: 25px;
        text-align: center
    }
}
@media (min-width: 576px) {
    nav{
        display: flex;
        justify-content: center;
        width: 100vw;
        /* border: 1px solid black; */
        padding: 0px 0px !important;
    } 
    .nav-link{
        color: black !important;
        width:25vw;
        border-bottom: 1px solid rgba(128, 128, 128, 0.103);
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
    }
    .nav-link:hover{
        color: rgba(128, 128, 128, 0.692) !important;
    }
    #logo{
        display: inline-block;
        width: 15%;
        padding-left: 2%;
    }
    #logo>h2{
        line-height: 120px;
    }
    #moon{
        position: absolute;
        top: 45px;
        left: 100%;
        padding: 40px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.404);
    }
    #header-Title{
        display: inline-flex;
        flex-wrap: wrap;
        width: 70%;
        justify-content: center;
    }
    #header-Title>h1{
        display: inline-block;
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
    }
    #header-L{
        font-family: 'Times New Roman', Times, serif;
        display: block;
        margin-right: -25px;
        font-size: 90px;
        line-height: 89px;
    }
  }